@page "/nsi"
@using IST.Admin.Features.Dictionaries.Components
@using IST.Shared.DTOs.Dictionaries

@attribute [Authorize]

@inherits ActualLab.Fusion.Blazor.ComputedStateComponent<IST.Admin.Features.Nsi.Pages.NsiPage.Model>

<PageTitle>Нормативно-справочная информация (НСИ)</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">НСИ</MudText>
<MudText Typo="Typo.body1" Class="mb-4">Управление системными справочниками (Нормативно-справочная информация)</MudText>

@if (_selectedDictionary == null)
{
    @* Список НСИ справочников *@
    <MudDataGrid T="DictionaryDto"
                 Items="@(State.ValueOrDefault?.Dictionaries ?? new())"
                 Hover="true" Striped="true" Dense="true"
                 Filterable="true" SortMode="SortMode.Multiple"
                 QuickFilter="@_filter"
                 Loading="@_processing">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Справочники НСИ</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="_searchString"
                          Placeholder="Поиск..."
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          Class="mt-0 mr-4" Clearable="true" />
            <MudTooltip Placement="Placement.Top" Text="Обновить">
                <MudFab Size="Size.Small" Class="ml-2" Color="Color.Primary" StartIcon="@Icons.Material.Rounded.Refresh" OnClick="RefreshAsync" />
            </MudTooltip>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="x => x.Name" Title="Наименование" />
            <PropertyColumn Property="x => x.Description" Title="Описание" />
            <PropertyColumn Property="x => x.FieldCount" Title="Полей" />
            <TemplateColumn Title="Действия" Filterable="false" Sortable="false">
                <CellTemplate>
                    <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="@(() => OpenDictionary(context.Item))">
                        Открыть
                    </MudButton>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="DictionaryDto" PageSizeOptions="new int[] { 10, 25, 50 }" />
        </PagerContent>
    </MudDataGrid>
}
else
{
    @* Детальный просмотр записей выбранного НСИ *@
    <div class="d-flex align-center mb-4">
        <MudIconButton Icon="@Icons.Material.Rounded.ArrowBack" OnClick="CloseDictionary" Class="mr-2" />
        <MudText Typo="Typo.h5">@_selectedDictionary.Name</MudText>
    </div>

    @if (_processing)
    {
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-4" />
    }
    
    <MudPaper Elevation="1" Class="pa-4">
        <DictionaryRecordsGrid DictionaryId="@_selectedDictionary.Id"
                               Fields="@(State.ValueOrDefault?.Detail?.Fields ?? new())"
                               Records="@(State.ValueOrDefault?.Detail?.Records ?? new())"
                               Loading="_processing"
                               OnRefresh="RefreshAsync" />
    </MudPaper>
}
